# Ignore the data folder:
data/

# ignore the train and val losses files:
train_losses.csv
val_losses.csv

# Ignore the cv folder:
cv/

# Ignore the inputs folder:
inputs/

# Ignore the Rhistory file:
.Rhistory

# ignore the misc folder:
misc/
